body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #053B50;
  height: 100vh;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper{
  margin-top: 00px;
  width: 70%;
  background-color: #176B87;
  border-radius: 10px;
  box-shadow:
  inset 0 -3em 3em rgba(0, 200, 0, 0.3),
  0 0 0 2px white,
  0.3em 0.3em 1em rgba(247, 0, 0, 0.6);
}

form{
  margin: 30px;
}

h1{
  color: #64CCC5;
  font-size: 35px;
  text-shadow: 5px 5px 6px #000;
}

form input{
  width: 50%;
  height: 35px;
  vertical-align: middle
}

form button{
  height: 41px;
  width: 120px;
  background-color: #053B50;
  color: #EEEEEE;
  font-size: 17px;
  cursor: pointer;
  border: none;
  vertical-align: middle
}

.links{
  margin: 20px auto;
  background-color: #EEEEEE;
  width: 80%;
  height: 45px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.links button{
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: #176B87;
  font-weight: 700;
  font-size: 17px;
  margin-left: 7px;
}

.links a{
  color: #053B50;
  text-decoration: underline;
}

header{
  width: 100%;
  height: 60px;
  background-color: #EEEEEE;
  position: fixed;
  top: 0;
}



ul li{
  display: inline-block;
  margin: 0 20px;
}

a{
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  transition: 200ms;
}

a:hover{
  color: #176B87;
}

.notif{
  height: 50px;
  width: 200px;
  background-color: #c7f9e2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 70px;
  right: 50px;
}

.check-icon{
  display: inline-block;
  margin-right: 10px;
  color: #008000;
  font-size: 20px;
}